@font-face {
  font-family: 'Acta Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Acta Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Acta Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans-2.ttf) format('truetype');
}
@font-face {
  font-family: 'Acta Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans-3.ttf) format('truetype');
}